@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

body{
    /* font-family: Tahoma; */
    font-family: 'Raleway', sans-serif;
}    


#logoC, #logoD, #logoS{
    fill: indigo;
    z-index: 1;
    animation: logocolor 5s;
    animation-iteration-count: 4
}

 @keyframes logocolor{
from {
    opacity: 10%;
    fill: indigo;
}
to {
    opacity: 75%;
    fill: red;
}
}
